# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

build/*
!build

# Executables
*.exe
*.out
*.app

test.s
asm_test.cpp

test
test-O3.s

build/commit.txt
result/*.pdf
result/small_sorters*.txt
result/small_sorters_eval.pdf
result/small_sorters-data.txt

db.sqlite
result/db.sqlite-journal

boxplot*.png
