# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

build/*
!build

CodeGeneration/build/*

# Executables
*.exe
*.out
*.app

test.s
asm_test.cpp

test
test-O3.s
test-O3_slim.s

build/commit.txt
result/plots/*
result/combined/*.aux
result/combined/*.log
result/combined/*.gz
result/combined/*.pdf

small_sorters_result.sqlite
db_test.sqlite
result/small_sorters_result.sqlite-journal

Network_Size_*.jpg
.vscode/*

*.sqlite
