<#@ template language="C#" #>
<#@ output extension="/" #>

<#
    void WriteBlock(Action writeBlockContent, string indent = "\t")
    {
        WriteLine("{");
        PushIndent(indent);
        writeBlockContent();
        PopIndent();
        WriteLine("}");
    }
#>